.form-container{
    width:100%;
    padding:100px;
}
.form-container input{
    width:100%;
    padding:3px;
    border-radius: 5px;
    height:45px;
    margin-bottom:20px;
    text-align:center;
    border: 2px solid rgb(255,0,0,0.5);
}
.form-container textarea{
    width:100%;
    padding:3px;
    border-radius: 5px;
    margin-bottom:20px;
    text-align:center;
    border: 2px solid rgb(255,0,0,0.5);
}
.form-container button{
    width:300px;
    background-color:red;
    color:#fff;
    margin:auto;
    height:50px;
    border:none;
}
@media screen and (max-width:1200px){
    .form-container{
        width:100%;
        padding:20px;
    }
}